body
{
    color:#000000;
    background:rgb(219, 131, 212);

}
.heading
{
    width: 80%;
    font-size:22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color:rgb(5, 5, 87);

}
#camera
{
    border:2px dashed black;
    width:350px;
    height:300px;

}